.topwide {
  width: 1500px;
  max-width: 96%;
  margin: 0 auto;
}

.inner{
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
  position: relative;
  .under-page &{
    width: 1000px;
  }
}

.flex-row {
  &.sp-col2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -$flex_row_gap;
  }
  // &:not(:last-child) {
  //   margin-bottom: 0px;
  // }
  @include mediaQuery(pc) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -$flex_row_gap;
    &.reverse {
      flex-direction: row-reverse;
    }
    &.fill {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-bottom: 4%;
    }
  }
  @include mediaQuery(sp) {
    &:not(:last-child) {
      margin-bottom: $flex_row_gap;
    }
  }
}

%col-cmn {
  margin-bottom: 30px;
  .tab-col2 > & {
    @include mediaQuery(tab) {
      margin-bottom: $flex_row_gap / 2;
      width: 49%;
    }
  }
  .tab-col2.fill > & {
    @include mediaQuery(tab) {
      margin-bottom: $flex_row_gap / 2;
      width: 50%;
    }
  }
  .sp-col2 > & {
    @include mediaQuery(sp) {
      margin-bottom: $flex_row_gap / 2;
      width: 49%;
    }
  }
  .sp-col2.fill > & {
    @include mediaQuery(sp) {
      margin-bottom: $flex_row_gap / 2;
      width: 50%;
    }
  }
  @include mediaQuery(sp) {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mediaQuery(pc) {
    .fill & {
      flex: auto;
      margin-bottom: 0;
    }
  }
}

.col-2 {
  @extend %col-cmn;
  @include mediaQuery(pc) {
    width: 48%;
  }
}

.col-3 {
  @extend %col-cmn;
  @include mediaQuery(pc) {
    width: 32%;
  }
}

.col-4 {
  @extend %col-cmn;
  @include mediaQuery(pc) {
    width: 23.5%;
  }
}

.col-5 {
  @extend %col-cmn;
  @include mediaQuery(pc) {
    width: 18%;
  }
}

.col-6 {
  @extend %col-cmn;
  @include mediaQuery(pc) {
    width: 15%;
  }
}

// @for $i from 2 through $max_flex_column {
//   .f-col#{$i} {
//     @include flexLayout($i, $flex_row_gap);
//   }
// }
