<div class="first-view">
  <div class="inner">
    <div class="first-view__txt block-A">
      <h2 class="title-l">Welcome to my portfolio</h2>
      <p>川端健悟と申します。Web制作の面白さに惹かれ、ホームページ制作会社で働いています。<span class="u-line--01">主にHTML/CSS/WordPressを使い、コーポレートサイト・ECサイトの新規コーディング・修正作業を担当</span>しました。</p>
      <p>現在は、JavaScriptを勉強し、動的なWebサイト・アプリ作成に挑戦しており、将来は、Webサイト制作で得た経験を活かし、<span class="u-line--02">Webアプリの構築が出来るフロントエンドエンジニアを目指しています</span>。<br>まだまだ未熟な私ですが、少しでも興味を持っていただけたらと思います。どうぞよろしくお願いいたします。</p>
    </div>
  </div>
</div>
