<main>
  <div class="main-bg">
    <section class="history">
      <div class="inner block-A">
        <h2 class="title-l">History</h2>
        <div class="flex-row">
          <div class="col-2">
            <figure><img src="assets/img/history_img001.jpg" alt="倉庫作業"></figure>
          </div>
          <div class="col-2 v-fix">
            <p>高校卒業後、倉庫作業や配送ドライバーの仕事を経験した後、Web業界へ転職しました。<br>今までの経歴をまとたページがありますので、履歴書としてご参照ください。</p>
            <div class="v-fix__target-right btn"><a href="/history">history page</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="skill">
      <div class="inner">
        <div class="block-A">
          <h2 class="title-l">Skill</h2>
          <div class="flex-row">
            <div class="col-3 skill__card">
              <figure>
                <img src="assets/img/html5.png" alt="html5">
              </figure>
              <h3 class="title-m">HTML</h3>
              <ul class="list-A">
                <li class="list-A__item">W3C Markup Validator/Google Lighthouseでエラーがでないマークアップ</li>
                <li class="list-A__item">EJSを用いた制作経験</li>
                <li class="list-A__item">WordPressサイトの修正・簡単なカスタマイズ</li>
              </ul>
            </div>
            <div class="col-3 skill__card">
              <figure>
                <img src="assets/img/css3.png" alt="css3">
              </figure>
              <h3 class="title-m">CSS</h3>
              <ul class="list-A">
                <li class="list-A__item">主にRWD、リキッドレイアウトでの制作</li>
                <li class="list-A__item">Sass、PostCSSの使用経験</li>
                <li class="list-A__item">BEM記法でコーディングします</li>
              </ul>
            </div>
            <div class="col-3 skill__card">
              <figure>
                <img src="assets/img/js.png" alt="js">
              </figure>
              <h3 class="title-m">JavaScript</h3>
              <ul class="list-A">
                <li class="list-A__item">基本的なプログラミングの理解</li>
                <li class="list-A__item">フレームワーク:jQuery</li>
                <li class="list-A__item">イベントに応じてDOM操作できます</li>
                <li class="list-A__item">Gulpをメンテナンスして効率的にコーディングできる方法を考えます</li>
              </ul>
            </div>
          </div>
          <div class="btn"><a href="/skill">skill page</a></div>
        </div>
      </div>
    </section>
    <section class="works">
      <div class="inner">
        <div class="block-A">
          <h2 class="title-l">Works</h2>
          <div class="works__anim flex-row reverse">
            <div class="col-2">
              <figure>
                <img src="assets/img/works_myblog.jpg" alt="ブログ">
              </figure>
            </div>
            <div class="col-2 v-fix">
              <p>趣味で作ったものを掲載していく予定です。今はブログしかありませんが、練習で作ったwebアプリなどを公開していこうと思います。</p>
              <div class="btn v-fix__target-right"><a href="https://k-kawa.com/" target="_blank" rel="noopener">works page</a></div>
            </div>
          </div>
          <div class="works__anim flex-row">
            <div class="col-2">
              <figure>
                <img src="assets/img/works_code.jpg" alt="ソースコード">
              </figure>
            </div>
            <div class="col-2 v-fix">
              <div>
                <h3 class="works__ttl title-m">ソースコード</h3>
                <p>このポートフォリオを制作したときのソースコードをGitHubで公開しています。</p>
                <p>ローカル環境のコード:<br><a class="link" href="https://github.com/gobackk1/myportfolio-local" target="_blank" rel="noopener">https://github.com/gobackk1/myportfolio-local</a><br>テーマ化後のコード:<br><a class="link" href="https://github.com/gobackk1/myportfolio-wptheme" target="_blank" rel="noopener">https://github.com/gobackk1/myportfolio-wptheme</a></p>
              </div>
              <div class="btn v-fix__target-right"><a href="https://github.com/gobackk1" target="_blank" rel="noopener">GitHub</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact">
      <div class="inner">
        <div class="block-A">
          <h2 class="title-l">Contact</h2>
          <div class="contact__txt">
            <p class="pc-text-center">ご相談・ご質問など、お気軽に連絡お願いします。</p>
            <p class="pc-text-center">メール: k.kwbt4@icould.com</p>
          </div>
          <div class="btn"><a href="/contact">お問い合わせ</a></div>
        </div>
      </div>
    </section>
  </div>
</main>
