.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pc-text-center {
  @media (min-width: 768px) {
    text-align: center;
  }
}

.pc-text-small {
  @include mediaQuery(pc) {
    font-size: $text_small_size;
  }
}

.f-center {
  @include mediaQuery(pc) {
    @include flexCenter();
  }
}

.wrap-block {
  position: relative;
  display: block;
  text-decoration: none;
  &:hover {
    div {
      transition: 0.2s;
      opacity: 0.7;
    }
    img {
      opacity: 1;
    }
  }
}

.cf {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.tlf {
  table-layout: fixed;
}

.mk-01 {
  font-size: 105%;
  font-weight: bold;
  border-bottom: 2px solid #fff100;
  background: none;
}

.v-fix {
  @include mediaQuery(pc) {
    display: flex;
    flex-wrap: wrap;
    &__target {
      margin: auto auto 0;
      align-self: baseline;
    }
    &__target-right {
      margin: auto 0 0 auto;
      align-self: baseline;
    }
  }
  @include mediaQuery(sp) {
    &__target ,&__target-right{
      margin-top: 20px;
    }
  }
}

.sp {
  @include mediaQuery(pc) {
    display: none !important;
  }
}

.pc {
  @include mediaQuery(sp) {
    display: none !important;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}
